.wrapper {
  display: flex;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  height: 100vh;
}

.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a {
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}
.create-room a {
  padding: 14px;
  border: 1px solid lightblue;
  color: deepskyblue;
  font-size: 10px;
  text-decoration: none;
}

.side-rooms {
  background-color: #2F3E51;
  height: calc(100vh - 100px);
  padding: 0 20px;
  overflow: scroll;
}
.room {
  padding: 20px 0 40px 0;
}
.room-name a {
  color: white;
  text-decoration: none;
}


.main-chat {
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
.main-chat-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content:space-between;
}
.header-title {
  font-size: 24px;
  color: #333;
  padding-top: 36px;
}
.header-btn {
  margin-top: 40px;
}
.header-btn a {
  text-decoration: none;
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
}

.main-messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0 40px;
  overflow: scroll;
}
.message {
  margin-top: 10px;
}
.upper-message {
  display:flex;

}
.message-name {
  font-size: 16px;
  color: #434A54;
}
.message-date {
  font-size: 12px;
  color: #999;
  padding-left: 10px;
}
.lower-massage {
    margin-top: 10px;
}
.message-content {
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
}

.main-form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}